body{
    background: #230048;
    margin: 0;
    padding: 0;
}

.elemento1{
    width: 1500px;
    height: 1150px;
    margin-left: 200px;
    background-size: cover;
    display: flex;
    justify-content: left; 
    align-items: left;
    flex-direction: column;
    background-image: url(./Imagem/elemento1.PNG);
}


.sora-texto{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 35px;
    margin-top:60px;
}

.sora-principal{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 100px;
    margin-top: 250px;
    font-weight: bold;
}

.foto-opaca{
    background-image: url(./Imagem/computador_servico.jpg);
    width: 500px;
    height: 700px;
    border-radius: 13px;
    background-size: cover;
    opacity: 0.5;
}

.refatoracao{
    background-image: url(./Imagem/Refatoracao.png);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}


.manutencao{
    background-image: url(./Imagem/manutencao.png);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.consul_tec{
    background-image: url(./Imagem/consul_tec.png);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.dev_inter{
    background-image: url(./Imagem/dev_inter.png);
    width: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}
.coluna {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 300px;
}

.cartoes {
    text-align: center;
    color: white;
}

.titulo-serv {
    color: white;
    font-size: 60px;
    margin-bottom: 80px;
}
