body{
    background: #21024a;
    margin: 0;
    padding: 0;
}

.elemento1{
    width: 1500px;
    height: 1150px;
    margin-left: 200px;
    background-size: cover;
    display: flex;
    justify-content: left; 
    align-items: left;
    flex-direction: column;
    background-image: url(./Imagem/elemento1.PNG);
}


.sora-texto{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 35px;
    margin-top:60;
}

.sora-principal{
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    color: white;
    font-size: 100px;
    margin-top: 250;
    font-weight: bold;
}


