body{
    background: #21024a;
    margin: 0;
    padding: 0;
}

.elemento1{
    width: 1500;
    height: 1150;
    margin-left: 200px;
    background-size: cover;
    background-image: url(./Imagem/elemento1.PNG);
}

.sora-principal {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  color: white;
}